@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.nav-links {
    @apply text-gray-700 hover:text-blue-600 cursor-pointer transition-colors ease-in-out duration-300 text-lg;
}

.user-nav-links {
    @apply text-green-700 hover:text-blue-600 cursor-pointer transition-colors ease-in-out duration-300 text-lg;
}

.mcq-options {
    @apply border my-2 inline-block w-full py-2 px-3 rounded-lg text-gray-700 hover:bg-blue-50 cursor-pointer;
}
